.para1{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.linkStyle_2{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #FF2600 */
 word-wrap: break-word;}
.linkStyle_2:visited{color:#000000; text-decoration:none;}
.linkStyle_2:hover{color:#FF2600; text-decoration:none;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}
.linkStyle_8{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 color: #55C0FE;
 text-decoration: none; 
 /* 1 1 0 #00F900 #55C0FE #FF2600 */
 word-wrap: break-word;}
.linkStyle_8:visited{color:#55C0FE; text-decoration:none;}
.linkStyle_8:hover{color:#FF2600; text-decoration:none;}
.para11{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style12{font-family:  'TrebuchetMS', 'Trebuchet MS' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 color: #B566B5;
 word-wrap: break-word;}
.Style13{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style14{font-family:  'TrebuchetMS', 'Trebuchet MS' ,sans-serif ;
 font-size: 14px; 
 font-weight:normal; 
 color: #B566B5;
 word-wrap: break-word;}
.Style15{font-family:  'TrebuchetMS', 'Trebuchet MS' ,sans-serif ;
 font-size: 16px; 
 font-weight:normal; 
 color: #B566B5;
 word-wrap: break-word;}
.linkStyle_16{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 color: #FE634D;
 text-decoration: none; 
 /* 1 1 0 #00F900 #FE634D #FF2600 */
 word-wrap: break-word;}
.linkStyle_16:visited{color:#FE634D; text-decoration:none;}
.linkStyle_16:hover{color:#FF2600; text-decoration:none;}
.Style19{font-family:  'TrebuchetMS', 'Trebuchet MS' ,sans-serif ;
 font-size: 14px; 
 font-weight:normal; 
 margin:0;
 color: #B566B5;
 word-wrap: break-word;}
.Style20{font-family:  'TrebuchetMS', 'Trebuchet MS' ,sans-serif ;
 font-size: 24px; 
 font-weight:normal; 
 color: #B566B5;
 word-wrap: break-word;}
.Style21{font-family:  'AmericanTypewriter', 'American Typewriter' ,'Times New Roman' ,serif ;
 font-size: 14px; 
 font-weight:normal; 
 color: #008E00;
 word-wrap: break-word;}
.Style22{font-family:  'AmericanTypewriter', 'American Typewriter' ,'Times New Roman' ,serif ;
 font-size: 14px; 
 font-weight:normal; 
 margin:0;
 color: #008E00;
 word-wrap: break-word;}
.linkStyle_23{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 color: #B464B5;
 text-decoration: none; 
 /* 1 1 0 #00F900 #B464B5 #FF2600 */
 word-wrap: break-word;}
.linkStyle_23:visited{color:#B464B5; text-decoration:none;}
.linkStyle_23:hover{color:#FF2600; text-decoration:none;}
.linkStyle_26{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 font-weight:normal; 
 color: #B464B5;
 text-decoration: none; 
 /* 1 1 0 #00F900 #B464B5 #FF2600 */
 word-wrap: break-word;}
.linkStyle_26:visited{color:#B464B5; text-decoration:none;}
.linkStyle_26:hover{color:#FF2600; text-decoration:none;}